In [1]:
import os
import sys
import pandas as pd
import numpy as np
import nltk
from sklearn import tree
from IPython.display import display

In [2]:
data = pd.read_csv('dataset.csv')

### Analisis Dataset Keseluruhan

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2644 entries, 0 to 2643
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lokasi              2644 non-null   int64
 1   status              2644 non-null   int64
 2   tipe                2644 non-null   int64
 3   id_daftar_sekolah   2644 non-null   int64
 4   id_prodi_pilihan_1  2644 non-null   int64
 5   id_prodi_pilihan_2  2644 non-null   int64
 6   nilai_tpa_verbal    2644 non-null   int64
 7   nilai_tpa_spasial   2644 non-null   int64
 8   nilai_tpa_analogi   2644 non-null   int64
 9   nilai_tpa_numerik   2644 non-null   int64
 10  avg_nilai_uan       1904 non-null   float64
 11  avg_nilai_raport    573 non-null    float64
 12  is_lolos_seleksi    2644 non-null   int64
dtypes: float64(2), int64(11)
memory usage: 268.7 KB

In [4]:
col_names = data.columns.values.tolist()

In [5]:
for col in col_names:
    
    print(data[col].value_counts())

0    1501
1    1143
Name: lokasi, dtype: int64
1    1347
0    1297
Name: status, dtype: int64
1    2333
0     311
Name: tipe, dtype: int64
7       101
26       42
8        40
35       37
16       35
       ...
2399      1
2400      1
1217      1
1194      1
2176      1
Name: id_daftar_sekolah, Length: 1097, dtype: int64
9     1753
7      249
10     192
6      136
3      123
5       77
4       69
2       18
8       17
11      10
Name: id_prodi_pilihan_1, dtype: int64
9     892
10    732
1     578
3     167
4      99
7      95
8      35
5      28
11     13
6       5
Name: id_prodi_pilihan_2, dtype: int64
0      1624
10      268
20      118
100      88
30       84
60       83
40       70
80       67
130      63
150      48
170      28
90       26
180      22
120      17
70       14
160       8
50        7
190       4
140       3
110       2
Name: nilai_tpa_verbal, dtype: int64
0      1624
10      113
60      111
20       86
30       83
90       78
100      69
80       62
70       57
50       54
110      53
130      47
120      39
40       38
140      37
160      30
150      22
180      20
170      17
190       4
Name: nilai_tpa_spasial, dtype: int64
0      1625
90      133
10      131
60      123
40      120
20      112
30      110
120     107
150      66
70       37
170      37
50       13
180       8
80        8
100       6
190       3
140       2
110       2
130       1
Name: nilai_tpa_analogi, dtype: int64
0      1624
10      197
40      110
20      104
70       84
50       66
30       60
60       46
180      39
80       39
120      35
110      34
100      34
150      30
130      29
140      27
160      26
170      26
90       25
190       9
Name: nilai_tpa_numerik, dtype: int64
0.0      1523
63.0       10
81.0       10
54.0        9
28.0        9
         ...
421.0       1
639.0       1
224.0       1
181.0       1
96.0        1
Name: avg_nilai_uan, Length: 117, dtype: int64
0.0     175
83.0     37
81.0     35
80.0     34
77.0     29
79.0     27
82.0     27
85.0     27
78.0     26
75.0     24
76.0     20
84.0     19
88.0     14
86.0     12
87.0     11
74.0     10
73.0      9
89.0      7
70.0      5
90.0      3
91.0      3
72.0      3
92.0      3
69.0      2
71.0      2
68.0      1
65.0      1
93.0      1
61.0      1
22.0      1
47.0      1
17.0      1
94.0      1
52.0      1
Name: avg_nilai_raport, dtype: int64
1    2330
0     314
Name: is_lolos_seleksi, dtype: int64

In [6]:
data['is_lolos_seleksi'].value_counts()

1    2330
0     314
Name: is_lolos_seleksi, dtype: int64

In [ ]:
data.isnull().sum()

### Analisis Data Jalur Prestasi

In [9]:
jp = pd.read_csv('data_jp_legit.csv')

In [10]:
jp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573 entries, 0 to 572
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lokasi              573 non-null    int64
 1   status              573 non-null    int64
 2   tipe                573 non-null    int64
 3   id_daftar_sekolah   573 non-null    int64
 4   id_prodi_pilihan_1  573 non-null    int64
 5   id_prodi_pilihan_2  573 non-null    int64
 6   avg_nilai_uan       573 non-null    float64
 7   avg_nilai_raport    573 non-null    float64
 8   is_lolos_seleksi    573 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 40.4 KB

In [11]:
col_names = jp.columns.values.tolist()
for col in col_names:
    
    print(jp[col].value_counts())

0    306
1    267
Name: lokasi, dtype: int64
1    289
0    284
Name: status, dtype: int64
1    496
0     77
Name: tipe, dtype: int64
7       22
8       17
26      15
20      11
343     10
        ..
1899     1
145      1
2290     1
24       1
2176     1
Name: id_daftar_sekolah, Length: 352, dtype: int64
9     435
10     43
6      26
7      25
3      15
4      13
5       7
2       5
11      3
8       1
Name: id_prodi_pilihan_1, dtype: int64
1     165
10    152
9     139
3      42
4      27
8      16
7      15
11     12
5       5
Name: id_prodi_pilihan_2, dtype: int64
0.0      504
81.0       8
85.0       5
83.0       5
80.0       4
87.0       4
82.0       2
30.0       2
57.0       2
54.0       2
28.0       2
90.0       2
88.0       2
86.0       2
78.0       2
84.0       1
49.0       1
65.0       1
89.0       1
50.0       1
43.0       1
279.0      1
94.0       1
96.0       1
24.0       1
27.0       1
77.0       1
91.0       1
70.0       1
225.0      1
58.0       1
29.0       1
246.0      1
17.0       1
22.0       1
68.0       1
231.0      1
35.0       1
75.0       1
45.0       1
Name: avg_nilai_uan, dtype: int64
0.0     175
83.0     37
81.0     35
80.0     34
77.0     29
79.0     27
82.0     27
85.0     27
78.0     26
75.0     24
76.0     20
84.0     19
88.0     14
86.0     12
87.0     11
74.0     10
73.0      9
89.0      7
70.0      5
90.0      3
91.0      3
72.0      3
92.0      3
69.0      2
71.0      2
68.0      1
65.0      1
93.0      1
61.0      1
22.0      1
47.0      1
17.0      1
94.0      1
52.0      1
Name: avg_nilai_raport, dtype: int64
1    573
Name: is_lolos_seleksi, dtype: int64

In [12]:
jp['is_lolos_seleksi'].value_counts()

1    573
Name: is_lolos_seleksi, dtype: int64

In [14]:
jp.isnull().sum()

lokasi                0
status                0
tipe                  0
id_daftar_sekolah     0
id_prodi_pilihan_1    0
id_prodi_pilihan_2    0
avg_nilai_uan         0
avg_nilai_raport      0
is_lolos_seleksi      0
dtype: int64

### Analisis Data Jalur Reguler

In [15]:
njp = pd.read_csv('data_njp.csv')

In [16]:
njp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lokasi              1020 non-null   int64
 1   status              1020 non-null   int64
 2   tipe                1020 non-null   int64
 3   id_daftar_sekolah   1020 non-null   int64
 4   id_prodi_pilihan_1  1020 non-null   int64
 5   id_prodi_pilihan_2  1020 non-null   int64
 6   nilai_tpa_verbal    1020 non-null   int64
 7   nilai_tpa_spasial   1020 non-null   int64
 8   nilai_tpa_analogi   1020 non-null   int64
 9   nilai_tpa_numerik   1020 non-null   int64
 10  is_lolos_seleksi    1020 non-null   int64
dtypes: int64(11)
memory usage: 87.8 KB

In [17]:
col_names = njp.columns.values.tolist()
for col in col_names:
    
    print(njp[col].value_counts())

0    684
1    336
Name: lokasi, dtype: int64
1    568
0    452
Name: status, dtype: int64
1    881
0    139
Name: tipe, dtype: int64
7       20
0       16
2213    13
144     11
16      11
        ..
304      1
2323     1
2321     1
737      1
1991     1
Name: id_daftar_sekolah, Length: 597, dtype: int64
9     586
7     128
6      99
10     68
3      68
4      28
5      26
2      12
11      3
8       2
Name: id_prodi_pilihan_1, dtype: int64
9     434
10    294
1     132
3      73
7      36
4      36
8       8
5       6
11      1
Name: id_prodi_pilihan_2, dtype: int64
10     268
20     118
100     88
30      84
60      83
40      70
80      67
130     63
150     48
170     28
90      26
180     22
120     17
70      14
160      8
50       7
190      4
140      3
110      2
Name: nilai_tpa_verbal, dtype: int64
10     113
60     111
20      86
30      83
90      78
100     69
80      62
70      57
50      54
110     53
130     47
120     39
40      38
140     37
160     30
150     22
180     20
170     17
190      4
Name: nilai_tpa_spasial, dtype: int64
90     133
10     131
60     123
40     120
20     112
30     110
120    107
150     66
70      37
170     37
50      13
180      8
80       8
100      6
190      3
140      2
110      2
130      1
0        1
Name: nilai_tpa_analogi, dtype: int64
10     197
40     110
20     104
70      84
50      66
30      60
60      46
80      39
180     39
120     35
100     34
110     34
150     30
130     29
140     27
160     26
170     26
90      25
190      9
Name: nilai_tpa_numerik, dtype: int64
1    864
0    156
Name: is_lolos_seleksi, dtype: int64

In [18]:
njp['is_lolos_seleksi'].value_counts()

1    864
0    156
Name: is_lolos_seleksi, dtype: int64

In [20]:
njp.isnull().sum()

lokasi                0
status                0
tipe                  0
id_daftar_sekolah     0
id_prodi_pilihan_1    0
id_prodi_pilihan_2    0
nilai_tpa_verbal      0
nilai_tpa_spasial     0
nilai_tpa_analogi     0
nilai_tpa_numerik     0
is_lolos_seleksi      0
dtype: int64